<game-header gameName="5 WORDS" (tutorial)="loadOverlay()"></game-header>
<tutorial></tutorial>
<div id="board-container">
  <div id="board" style="width: 350px; height: 420px;">
    <game-word
      wordLength="5"
      [letters]="this.wordList[0]"
      [states]="this.statesList[0]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[1]"
      [states]="this.statesList[1]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[2]"
      [states]="this.statesList[2]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[3]"
      [states]="this.statesList[3]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[4]"
      [states]="this.statesList[4]"
    ></game-word>
  </div>
</div>

<keyboard
  (letter)="typeLetter($event)"
  (backspace)="removeLetter()"
  (enter)="pressEnter()"
></keyboard>
