<game-header gameName="5 WORDS" (tutorial)="loadOverlay()"></game-header>

<div class="toaster" id="game-toaster"><toaster text="test"></toaster></div>

<div id="board-container">
  <div id="board" style="width: 350px; height: 420px;">
    <game-word
      wordLength="5"
      [letters]="this.wordList[0]"
      [states]="this.statesList[0]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[1]"
      [states]="this.statesList[1]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[2]"
      [states]="this.statesList[2]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[3]"
      [states]="this.statesList[3]"
    ></game-word>
    <game-word
      wordLength="5"
      [letters]="this.wordList[4]"
      [states]="this.statesList[4]"
    ></game-word>
  </div>
</div>

<keyboard
  (letter)="typeLetter($event)"
  (backspace)="removeLetter()"
  (enter)="pressEnter()"
></keyboard>

<tutorial [template]="fivewords"></tutorial>

<ng-template #fivewords>
  <section>
    <div class="instructions">
      <p>The goal is complete all the <strong>5 WORDS</strong></p>
      <p>
        The list have locked letters, these letters need to compound the words.
      </p>
      <p>Each letter gives you points, these points follow the rules bellow:</p>
      <ul>
        <li><strong>2 points</strong> for each unique letter;</li>
        <li><strong>1 point</strong> for each repeated letter (once);</li>
        <li>
          <strong>0 points</strong> for each repeated letter (twice or more).
        </li>
      </ul>
      <p>Repeated words are not allowed in same day.</p>
      <p>
        <strong>Every day a new 5 WORDS list to complete!</strong>
      </p>
    </div>
  </section>
</ng-template>
