<div class="overlay">
  <div class="content">
    <header>
      <h1><slot>How to play</slot></h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path
          fill="var(--main-ft-color)"
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
        ></path>
      </svg>
    </header>
    <div class="content-container">
      <slot name="content">
        <section>
          <div class="instructions">
            <p>Guess the <strong>WORDLE</strong> in 6 tries.</p>
            <p>
              Each guess must be a valid 5 letter word. Hit the enter button to
              submit.
            </p>
            <p>
              After each guess, the color of the tiles will change to show how
              close your guess was to the word.
            </p>
            <div class="examples">
              <p><strong>Examples</strong></p>
              <div class="example">
                <div class="row">
                  
                </div>
                <p>
                  The letter <strong>W</strong> is in the word and in the
                  correct spot.
                </p>
              </div>
              <div class="example">
                <div class="row">
                  
                </div>
                <p>
                  The letter <strong>I</strong> is in the word but in the wrong
                  spot.
                </p>
              </div>
              <div class="example">
                <div class="row">
                  
                </div>
                <p>
                  The letter <strong>U</strong> is not in the word in any spot.
                </p>
              </div>
            </div>
            <p>
              <strong
                >A new WORDLE will be available each day!<strong></strong
              ></strong>
            </p>
            <strong><strong> </strong></strong>
          </div>
          <strong><strong> </strong></strong>
        </section>
      </slot>
    </div>
  </div>
</div>
