<div id="keyboard">
  <div class="row">
    <button data-key="q" (click)="this.letter.emit('q')">q</button>
    <button data-key="w" (click)="this.letter.emit('w')">w</button>
    <button data-key="e" (click)="this.letter.emit('e')">e</button>
    <button data-key="r" (click)="this.letter.emit('r')">r</button>
    <button data-key="t" (click)="this.letter.emit('t')">t</button>
    <button data-key="y" (click)="this.letter.emit('y')">y</button>
    <button data-key="u" (click)="this.letter.emit('u')">u</button>
    <button data-key="i" (click)="this.letter.emit('i')">i</button>
    <button data-key="o" (click)="this.letter.emit('o')">o</button>
    <button data-key="p" (click)="this.letter.emit('p')">p</button>
  </div>
  <div class="row">
    <div class="spacer half"></div>
    <button data-key="a" (click)="this.letter.emit('a')">a</button>
    <button data-key="s" (click)="this.letter.emit('s')">s</button>
    <button data-key="d" (click)="this.letter.emit('d')">d</button>
    <button data-key="f" (click)="this.letter.emit('f')">f</button>
    <button data-key="g" (click)="this.letter.emit('g')">g</button>
    <button data-key="h" (click)="this.letter.emit('h')">h</button>
    <button data-key="j" (click)="this.letter.emit('j')">j</button>
    <button data-key="k" (click)="this.letter.emit('k')">k</button>
    <button data-key="l" (click)="this.letter.emit('l')">l</button>
    <div class="spacer half"></div>
  </div>
  <div class="row">
    <button data-key="↵" class="one-and-a-half">enter</button>
    <button data-key="z" (click)="this.letter.emit('z')">z</button>
    <button data-key="x" (click)="this.letter.emit('x')">x</button>
    <button data-key="c" (click)="this.letter.emit('c')">c</button>
    <button data-key="v" (click)="this.letter.emit('v')">v</button>
    <button data-key="b" (click)="this.letter.emit('b')">b</button>
    <button data-key="n" (click)="this.letter.emit('n')">n</button>
    <button data-key="m" (click)="this.letter.emit('m')">m</button>
    <button data-key="←" (click)="this.backspace.emit()" class="one-and-a-half">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24"
        viewBox="0 0 24 24"
        width="24"
      >
        <path
          fill="var(--main-ft-color)"
          d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"
        ></path>
      </svg>
    </button>
  </div>
</div>
