.toast {
  visibility: hidden;
  position: relative;
  margin: 16px;
  background-color: var(--slot-lock);
  color: var(--main-ft-color);
  padding: 16px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 700;
}
.win {
  background-color: var(--color-correct);
  color: var(--tile-text-color);
}
.fade {
  opacity: 0;
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: -30px; opacity: 0;} 
  to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: -30px; opacity: 0;}
  to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0px; opacity: 1;} 
  to {bottom: -30px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -30px; opacity: 0;}
}